#chirp-form-tags-input-container {
    width: 100;
    height: 280px;
    margin-bottom: 30px;
    background-color: #ededed;
    text-align: center;
    
    animation: fade-in;
    animation-duration: 1s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#chirp-form-tags-input-container .chirp-form-user-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: green; */
}

#chirp-form-tags-input-container .chirp-form-user-info .chirp-form-avatar {
    margin: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#chirp-form-tags-input-container .chirp-form-display-name {
    width: 500px;
    /* background-color: orange; */
}

#chirp-form-tags-input-container .chirp-form-timestamp {
    width: 500px;
    /* background-color: red; */
}

#add-tags-to-chirp-form-text {
    padding-top: 20px;
    font-size: 20px;
}

#chirp-form-tag-input-one {
    width: 30%;
    height: 20px;
    font-size: 15px;
    margin-right: 5px;
}

#chirp-form-tag-input-two {
    width: 30%;
    height: 20px;
    font-size: 15px;
    margin-right: 5px;
}

#chirp-form-tag-input-three {
    width: 30%;
    height: 20px;
    font-size: 15px;
    margin-right: 5px;    
}

#add-tags-to-chirp-form-sumbit {
    margin: 10px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    color: #5F7470;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

#add-tags-to-chirp-form-sumbit:hover {
    box-shadow: 2px 2px 2px #5F7470;
    cursor: pointer;
}

#user-not-logged-in-container {
    /* background-color: #5F7470; */
    text-align: center;
    padding: 20px;

    transition: all 1s ease-in-out;

    animation: fade-in;
    animation-duration: 1s;
}


#add-tags-to-chirp-existing-tags-container {
    margin-bottom: 20px;
}

#add-tags-to-chirp-existing-tags-container .existing-tag {
    height: 30px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 15px;
    color: #5F7470;
    background-color: white;
    /* border: 3px solid white; */
    border: none;
    font-weight: 400;

    transition: all 0.2s ease-in-out;
}

#add-tags-to-chirp-existing-tags-container .existing-tag:hover {
    box-shadow: 2px 2px 2px #5F7470;
    /* border: 3px solid #ededed; */
    cursor: pointer;
}