#chirp-feed-item-container {
    width: 100%;
    border-top: 1px solid #B8BDB5;
    /* border-bottom: 1px solid #B8BDB5; */
    /* margin-bottom: 30px; */
    /* background-color: aqua; */
    transition: all 0.3s ease-in-out;
}

#chirp-feed-item-container:hover {
    background-color: #ededed;
    /* opacity: 0.4; */
}

#chirp-feed-item-container .user-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: green; */
}

#chirp-feed-item-container .main {
    padding-left: 15px;
}

.user-info .avatar {
    margin: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.user-info-text .display-name {
    width: 500px;
    /* background-color: orange; */
}

.user-info-text .timestamp {
    width: 500px;
    /* background-color: red; */
}


.main .chirp-image {
    width: 80%;
    margin-left: 10%;
    height: auto;
}

.main .chirp-text {
    width: 80%;
    margin-left: 10%;
}


#chirp-feed-item-container .bottom {
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}