#chirp-feed-item-container {
    width: 100%;
    border-top: 1px solid #B8BDB5;
    /* border-bottom: 1px solid #B8BDB5; */
    margin-bottom: 30px;
    /* background-color: aqua; */
    transition: all 0.3s ease-in-out;
}

#chirp-feed-item-delete-button {
    margin: 10px 20px -30px -10px;
    float: right;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #5F7470;

    transition: all 0.3s ease-in-out;
}

#chirp-feed-item-container:hover #chirp-feed-item-delete-button {
    background-color: white;
    color: #5F7470;

}

#chirp-feed-item-container #chirp-feed-item-delete-button:hover {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #5F7470;
    box-shadow: 2px 2px 2px #5F7470;
}

#bookmark-icon {
    margin: 10px 30px -30px;
    float: right;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #EDEDED;
    color: #5F7470;

    transition: all 0.3s ease-in-out;
}

#chirp-feed-item-container:hover #bookmark-icon {
    background-color: white;
    color: #5F7470;
}

#chirp-feed-item-container:hover #bookmark-icon:hover {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #5F7470;
    box-shadow: 2px 2px 2px #5F7470;
}


#chirp-feed-item-container:hover {
    background-color: #ededed;
    /* opacity: 0.4; */
}

#chirp-feed-item-container .user-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: green; */
}

#chirp-feed-item-container .main {
    padding-left: 15px;
}

.user-info .avatar {
    margin: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.user-info-text .display-name {
    max-width: 400px;
    /* background-color: orange; */
}

.user-info-text .timestamp {
    max-width: 400px;
    /* background-color: red; */
}

.chirp-feed-item-timestamp {
    /* width: 70%; */
    padding: 0px;
    margin-top: -10px;
    /* margin-bottom: 0px; */
    font-size: 12px;
    color: #5F7470;
}


.main .chirp-image {
    width: 80%;
    margin-left: 10%;
    height: auto;
}

.main .chirp-text {
    width: 80%;
    margin-left: 10%;
    margin-top: 0px;
    word-break: break-word;
}


#chirp-feed-item-container .bottom {
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
}

.bottom #likes-count-container {
    /* background-color: aqua; */
    /* margin-left: 5%; */
    width: 31%;
    display: flex;
}
.bottom #rechirps-count-container {
    /* background-color: pink; */
    width: 31%;
    display: flex;
}
.bottom #comments-count-container {
    /* background-color: aqua; */
    width: 31%;
    display: flex;
}

.bottom button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px 3px;
    border: none;
    cursor: pointer;
    color: #5F7470;

    transition: all 0.3s ease-in-out;
}

.bottom button:hover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px 3px;
    border: none;
    cursor: pointer;
    color: #5F7470;
    box-shadow: 2px 2px 2px #5F7470;

}

#chirp-feed-item-container:hover .bottom button {
    background-color: white;
    color: #5F7470;
}





.chirp-comment-form-outer-container-closed {
    height: 0px;
    /* background-color: #ededed; */
    animation: open-form 1s ease-in-out;
}
@keyframes close-form {
    0% {
        height: 0px;
        /* opacity: 0; */
    }

    100% {
        height: 140px;
        /* opacity: 1; */
    }
}


.chirp-comment-form-outer-container-open {
    height: 140px;
    /* background-color: #ededed; */
    animation: close-form 1s ease-in-out;
}
@keyframes open-form {
    0% {
        height: 140px;
        /* opacity: 1; */
    }

    100% {
        height: 0px;
        /* opacity: 0; */
    }
}


.chirp-view-comments-outer-container-closed {
    height: 0px;
    animation: open-view 1s ease-in-out;
}
@keyframes close-view {
    0% {
        height: 0px;
        /* opacity: 0; */
    }

    100% {
        height: 300px;
        /* opacity: 1; */
    }
}

.chirp-view-comments-outer-container-open {
    height: 300px;
    overflow-y: scroll;
    animation: close-view 1s ease-in-out;
}
@keyframes open-view {
    0% {
        height: 300px;
        /* opacity: 1; */
    }

    100% {
        height: 0px;
        /* opacity: 0; */
    }
}

#chirp-tags-outer-container {
    width: 90%;
    margin-left: 8%;
    margin-bottom: 10px;
    height: 30px;
    /* background-color: #5F7470; */
}