#feed-inner-container {
    width: 50vw;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-chirp-form-container {
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: #ededed;
    transition: opacity 0.3s ease-in-out;
    animation: fade-in 0.3s ease-in-out;
}

#post-chirp-form-container-chirp {
    opacity: 1;
}

#post-chirp-form-container-tag {
    text-align: center;
    opacity: 1;
}

#post-chirp-form-container-transition {
    width: 100%;
    /* height: 360px; */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#post-chirp-form-container-transition.add-transition {
    opacity: 1;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}