#feed-inner-container {
    width: 50vw;
    box-sizing: border-box;
    background-color: white;
}

#post-chirp-form-container-chirp {
    width: 100%;
    height: 350px;
    /* transition: all 3s ease-in-out; */
}

#post-chirp-form-container-tag {
    width: 100%;
    height: 350px;
    /* transition: all 3s ease-in-out; */
}

