#chirp-form-container {
    width: 100;
    height: 280px;
    margin-bottom: 30px;
    background-color: #ededed;
    transition: all 1s ease-in-out;

    animation: fade-in;
    animation-duration: 1s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#chirp-form-container .chirp-form-user-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: green; */
}

#chirp-form-container .chirp-form-user-info .chirp-form-avatar {
    margin: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.chirp-form-user-info-text .chirp-form-display-name {
    width: 500px;
    /* background-color: orange; */
}

.chirp-form-user-info-text .chirp-form-timestamp {
    width: 500px;
    /* background-color: red; */
}

.chirp-form-main #chirp-form-url-input {
    width: 80%;
}

.chirp-form-main #chirp-form-text-input {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    height: 80px;
    font-size: 20px;
}

/* .chirp-form-main .chirp-image {
    width: 80%;
    margin-left: 10%;
    height: auto;
} */

/* .chirp-form-main .chirp-text {
    width: 80%;
    margin-left: 10%;
} */


#chirp-form-container .chirp-form-bottom {
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#chirp-form-container #post-chirp-button {
    margin: 10px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    color: #5F7470;
    font-weight: 700;
    

    transition: all 0.2s ease-in-out;
}

#chirp-form-container #post-chirp-button:hover {
    box-shadow: 2px 2px 2px #5F7470;
    cursor: pointer;
}

#remaining-character-count {
    padding: 0px;
    margin-left: 5%;
    margin-bottom: -5px;
    font-size: 12px;
    color: #5F7470;
}


#user-not-logged-in-container {
    /* background-color: #5F7470; */
    text-align: center;
    padding: 20px;

    transition: all 1s ease-in-out;
    
    animation: fade-in;
    animation-duration: 1s;
}

#user-not-logged-in-container .login-or-register-button {
    margin: 10px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: #ededed;
    border-radius: 20px;
    font-size: 20px;
    color: #5F7470;
    font-weight: 700;

    transition: all 0.2s ease-in-out;
}

#user-not-logged-in-container .login-or-register-button:hover {
    box-shadow: 2px 2px 2px #5F7470;
    cursor: pointer;
}

#add-tags-to-chirp-form-area {
    text-align: center;
}