#chirp-form-container {
    width: 100;
    margin-bottom: 30px;
    background-color: #ededed;
}

#chirp-form-container .chirp-form-user-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: green; */
}

#chirp-form-container .chirp-form-user-info .chirp-form-avatar {
    margin: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.chirp-form-user-info-text .chirp-form-display-name {
    width: 500px;
    /* background-color: orange; */
}

.chirp-form-user-info-text .chirp-form-timestamp {
    width: 500px;
    /* background-color: red; */
}

.chirp-form-main #chirp-form-url-input {
    width: 80%;
}

.chirp-form-main #chirp-form-text-input {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    height: 80px;
    font-size: 20px;
}

/* .chirp-form-main .chirp-image {
    width: 80%;
    margin-left: 10%;
    height: auto;
} */

/* .chirp-form-main .chirp-text {
    width: 80%;
    margin-left: 10%;
} */


#chirp-form-container .chirp-form-bottom {
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#chirp-form-container #post-chirp-button {
    margin: 10px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    color: #5F7470;
    font-weight: 700;
    

    transition: all 0.2s ease-in-out;
}

#chirp-form-container #post-chirp-button:hover {
    box-shadow: 2px 2px 2px #5F7470;
    cursor: pointer;
}