#register-form-main-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;
    background-color: #ededed;
}

#register-username-input,
#register-displayname-input,
#register-password-input,
#register-confirm-password-input {
    width: 300px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px solid #5F7470;
}

.input-label {
    margin-bottom: 2px;
}

#register-form-submit {
    margin: 10px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: #ededed;
    border-radius: 20px;
    font-size: 20px;
    color: #5F7470;
    font-weight: 700;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

#register-form-submit:hover {
    box-shadow: 2px 2px 2px #5F7470;
    cursor: pointer;
}

#password-warning {
    padding: 0px;
    font-size: 12px;
    color: #5F7470;
}

#color-picker-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#avatar-color-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}